.questions
  &__container
    max-width: 937px
    margin: 0 auto
  &__header
    margin-top: 73px
  &__title
    margin-bottom: 23px
  &__text
    margin-bottom: 54px
    font-family: Roboto, sans-serif
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 23px
    text-align: center
  &__list
    min-height: 790px
    margin-bottom: 59px
    margin-right: 4px
  &__item
    position: relative
    border: 1px solid $gold
    min-height: 110px
    width: 793px
    margin-left: auto
    margin-bottom: 40px
    text-align: center
    align-items: center
    &-question
      font-family: Roboto
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 19px
      color: #DDD0C3
    &-button
      position: absolute
      right: 0
      top: -1px
      bottom: 1px 
      width: 104px
      height: 110px
      background-color: $gold