.why
  background-color: $dark-black
  min-height: 618px
  &__container
    max-width: 1150px
    margin: 0 auto
  &__header
    padding-top: 83px
  &__title
    padding-bottom: 20px
  &__text
    text-align: center
    font-weight: normal
    line-height: 23px
    padding-bottom: 48px 
  &__cards
    margin: 0 auto
    margin-left: -5px
    max-width: 1148px
    display: flex
    justify-content: space-between
  &__card
    background-color: $light-black
    width: 360px
    height: 301px
    &--1
    &--2
      padding-left: 13px
    &--3

